/* LISTS
_______________________*/

ul.horizontal li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

/* LINKS
_______________________*/

/*a {
	font-weight: bold;
}*/


/* LAYOUT
_______________________*/
.main-wrapper {
	padding-top: 50px;
}
.container {
	width: 500px;
    display: table;
    margin: 0 auto;
}

.profile-header, .social {
	display: table-row;
}

.profile-name, .profile-image  {
	display: table-cell;
	vertical-align: middle;
}

.profile-header .profile-image {

	/*float: right;*/
/*width: 200px;*/
}

.social {
width: 400px;
  /*  display: table;*/
    margin: 0 auto;
}